/* Container */

.container-fluid {
  padding: 2% 15%;
}

.dark-section {
  background-color: #030504;
  color: #fff;
}
.light-section {
  background-color: #fff;
}

/* Header */

.btn-header-container {
  margin-top: 3rem;
}

.btn-header {
  margin: 0 0.5rem;
}

#header-img {
  width: 75%;
  height: 100%;
  position: relative;
  right: 2rem;
}

.header-text {
  margin-top: 2rem;
}

.header-lf-col {
  margin-top: 2.5rem;
}

.header-rg-col {
  text-align: center;
}

/* Navigation Bar */

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-bottom: 1px inset rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin-left: 1rem;
}

.nav-list {
  margin-right: 14%;
}

.nav-list-anchor {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1rem;
  text-decoration: none;
}

/* Project Section */

.btn-project {
  margin-top: 2rem;
}

.btn-project:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #030504;
}

.col-project-content {
  border: 1px inset rgba(0, 0, 0, 0.3);
}

.col-project-item {
  padding: 1.5% 5%;
}

#featured-projects {
  margin-top: 2rem;
}

.header-project {
  margin-left: 3.4375rem;
}

.projects-row {
  margin-top: 2rem;
  text-align: center;
}

/* Skill Section */

.btn-skill {
  margin-top: 2rem;
}

.btn-skill:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #030504;
}

.code-btn.btn-skill {
  margin-top: 3.5rem;
}

.col-skill-content {
  border: 1px inset rgba(0, 0, 0, 0.3);
}

.col-skill-item {
  padding: 1.5% 5%;
}

.col-skill-text {
  margin: 1rem auto;
  width: 80%;
}

.header-skill {
  margin-left: 3.4375rem;
}

#skills {
  margin-top: 2rem;
}

.skill-row {
  margin-top: 2rem;
  text-align: center;
}

/* Footer */

#copyright {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}

#footer {
  margin-top: 1rem;
  padding: 1.5% 2.8%;
}

.social-media-row {
  text-align: center;
  margin-top: 1.5rem;
}

.social-media-ref {
  text-decoration: none;
  color: #fff;
}

.social-media-ref:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Shared  */

a {
  font-size: 1rem;
  font-weight: 600;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.btn {
  font-weight: 500;
}

.content-text {
  color: #8f8f8f;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
}

.header-title {
  font-size: 1.2rem;
  color: #030504;
}

p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

/* Media Responsiveness */

/* Ipad or below  */
@media (max-width: 1028px) {
  /* Header  */
  .btn-btn-header {
    margin: 0.5rem 0 0;
  }

  /* Skill */
  .header-skill {
    margin: 0;
    text-align: center;
  }

  .header-project {
    margin: 0;
    text-align: center;
  }
}

/* Iphone SE  */
@media (max-width: 400px) {
  /* Projects Section  */
  .project-img {
    width: 90%;
  }
}
