/* Navigation Bar */

.nav-list-anchor {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
}

a {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #8f8f8f;
}

.btn {
  margin-right: 0.5rem;
  font-weight: 500;
}

.btn-skill:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #030504;
}

.btn-header {
  margin-top: 3rem;
}

.content-section {
  padding: 3% 15%;
}

#code-btn {
  margin-top: 1.5rem;
}

.col-content {
  border: 1px inset rgba(0, 0, 0, 0.3);
}

.col-item {
  padding: 0 5%;
}

.col-skill-text {
  margin: 1rem auto;
  width: 80%;
}

#copyright {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}

#featured-projects {
  padding: 3% 15%;
}

#footer {
  background-color: #030504;
  color: #fff;
  margin-top: 1rem;
  padding: 1.5% 2.8%;
}

#header-img {
  width: 75%;
  height: 100%;
  position: relative;
  right: 2rem;
}

.header-text {
  margin-top: 2rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 3.5rem;
}

h2 {
  font-weight: 600;
  color: #030504;
}

h3 {
  font-size: 1.2rem;
}

.header-footer {
  color: #fff;
}

.header-title {
  font-size: 1.2rem;
  color: #030504;
}

#upper-main {
  background-color: #030504;
  color: #fff;
}

.navbar {
  background-color: #030504;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  border-bottom: 1px inset rgba(255, 255, 255, 0.1);
}

.navbar-brand {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.nav-list {
  margin-right: 14%;
}

p {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.projects-row {
  margin-top: 2rem;
  text-align: center;
}

.rg-upper-col {
  text-align: center;
}

.lf-upper-col {
  margin-top: 2.5rem;
}

#skill-container {
  padding: 3% 15%;
}

.skill-row {
  margin-top: 2rem;
  text-align: center;
}

.social-media-row {
  text-align: center;
}

.social-media-ref {
  text-decoration: none;
}

.social-media-ref:hover {
  color: rgba(255, 255, 255, 0.5);
}
